.card {
    width: 10rem;
    height: 8rem;
    padding: 1rem;
    margin: 0.5rem 0.75rem;
    background-color: #333;
    border: 1px solid;
    color: #fff;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}